@font-face{
    font-family: "Roboto";
    src: url("./fonts/RobotoCondensed-Light.ttf") format("ttf");
    font-weight: 300;
    font-style: normal;
}
@font-face{
    font-family: "Roboto";
    src: url("./fonts/RobotoCondensed-Regular.ttf") format("ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face{
    font-family: "Roboto";
    src: url("./fonts/RobotoCondensed-Bold.ttf") format("ttf");
    font-weight: 700;
    font-style: normal;
}


@font-face{
    font-family: 'Roboto';
    src: url("./fonts/RobotoCondensed-Italic.ttf") format("ttf");
    font-weight: 400;
    font-style: italic;
}
@font-face{
    font-family: 'Ubuntu';
    src: url("./fonts/Ubuntu-Italic.ttf") format("ttf");
    font-weight: 400;
    font-style: italic;
}

*{
    margin: 0;
    left: 0;
    top: 0;
    box-sizing:border-box;
    /* font-family: 'Roboto', sans-serif; */
    user-select: none;
}

.menu__container{
    height: 100vh;
    width: 100vw;
    background-color: #000;
    display: flex;
}

.leftside_container{
    flex: 1 1 50%;
    background-color: rgb(49, 58, 85);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.rightside_container{
    flex: 1 1 50%;
    background-color: rgb(49, 58, 85);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    font-family: 'Roboto', sans-serif;
    
    font-size: 18px;
    line-height: 140%;
    font-weight: 700;
    margin-bottom: 20px;
    color: #facb8c;
    max-width: 80%;
}

.menu_dish__header{
    font-size: 40px;
    
}

.menu_dish__decription{
    opacity: .7;
}

.price{
    width: 80%;
    font-size: 40px;
}

.arrow{
    position: absolute;
    
    
}
.a1{
    left: 10%;
    top: 20%;
    height: 150px;
}

.a2{
    transform: rotate(90deg);
    
    height: 140px;
    transform: scale(-1, -1);
    top: 70%;
    left: 30%;
}

.img_dish__decription{
    position: absolute;
    color: #fff;
    font-family: 'Ubuntu';
    font-size: 20px;
    font-style: italic;
    top: 18%;
    left: 16%;
}


/* MENU */

.menu__sidebar{
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #fff;
}

.menu__sidebar ul {
    list-style: none;
}

.nav__icon{
    position: relative;
    width: 56px;
    height: 40px;
}

.nav__icon span {
    position: absolute;
    width: 100%;
    height: 9px;
    background-color: white;
}

.nav__icon span:nth-child(1){
    top: 0;
}
.nav__icon span:nth-child(2){
    top: 18px;
}

.nav__icon span:nth-child(3){
    top: 36px;
}